@model PortofolioKazhuro.Models.Education

<form asp-action="EditEducation" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Учебное заведение</label>
        <input asp-for="Institution" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Степень</label>
        <input asp-for="Degree" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Дата начала</label>
        <input asp-for="DateStart" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Дата окончания</label>
        <input asp-for="DateEnd" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
